body {
  font-family: "poppins", sans-serif;
}

.bg-white {
  background-color: #fff;
}

.page-content {
  margin-top: 100px;
}

footer {
  border-top: 1px solid #d6d4d4;
  margin-top: 150px;
  p {
    color: #979797;
  }
}

.form-control {
  background-color: #f3f3f3;
}
