.store-breadcrumbs {
  .breadcrumb {
    background: transparent;
    padding: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.breadcrumb {
  .breadcrumb-item + .breadcrumb-item::before {
    padding-left: 15px;
    padding-right: 15px;
  }

  .breadcrumb-item.active {
    font-weight: 300;
    color: #0c0d36;
  }

  a {
    color: #979797;
  }
}
